[submodule "ssh"]
	path = ssh
	url = git@github.com:AurelienFocant/ssh_config.git
[submodule "wireguardConfig"]
	path = wireguardConfig
	url = git@github.com:AurelienFocant/wireguardConfig.git
[submodule "tmux/tpm"]
	path = tmux/tpm
	url = https://github.com/tmux-plugins/tpm.git
